{% extends 'base.html' %}
{% block title %}
    {{ object }}
{% endblock %}
{% block content %}
    {% with subject=course.subject %}
        <h1>{{ object }}</h1>
        <div class="module">
            <h2>Ogólny opis kursu</h2>
            <p>
                <a href="{% url 'course_list_subject' subject.slug %}">{{ subject }}
                </a>, {{ course.modules.count }} moduł{{ course.modules.count|pluralize:"y" }},
                instruktor: {{ course.owner.get_full_name }}
            </p>
            {{ course.overview|linebreaks }}
            {% if request.user.is_authenticated %}
                <form action="{% url 'student_enroll_course' %}" method="post">
                {% csrf_token %}
                {{ enroll_form }}
                    <input type="submit" class="button" value="Zapisz się">
                </form>
                {% else %}
                <a href="{% url "student_registration" %}" class="button">
                Zarejestruj się, aby móc zapisać się na kurs
                </a>
            {% endif %}
        </div>
    {% endwith %}
{% endblock %}